 <%= erb :"partials/navbar" %>
<h1>Welcome to FitJournal, <%= @user.first_name %>!</h1>

<h3>News Post:</h3>

<div id="new_post" >
<form method="post" action="/posts">
<input type="text" name="content" placeholder="New Post....">
<label for="theme">Please Choose a top that your post covers:</label>
<select id="theme" name="theme"> 
    <option value="food">Food/Healthy Eating</option>
    <option value="fitness">Fitness</option>
    <option value="other">Social/Other</option>
  </select>
<input type="submit" id="submit">
</form>
</div>

<h3>Newsfeed:</h3>
<% @posts.each do |post| %>
    <% if post.theme == "food"%>
        <div class="posts orange">
    <% elsif post.theme == "fitness" %>
        <div class="posts yellow">
    <% else %>
        <div class="posts blue">
    <% end %>
        <div class="posts_username">
            <a href="/users/<%= post.user_id%>" class="profile_link"><%= post.user.username %> </a>
        </div>
        <div class="posts_date">
             <%= post.updated_at.strftime('%b %d, %Y') || post.created_at.strftime('%b %d, %Y') %>
        </div><br> 
        <div class="posts_content"> 
            <%= post.content %>
        </div>
    <% if post.user_id == @user.id %>
    <%# erb :whatever %>
        <a class="button" href='/posts/<%= post.id%>/edit' >Edit</a>
        <form method="post" action="/posts/<%= post.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" id="delete" value="Delete">
        </form>
    <% end %>
    </div>

<% end %>