 <%= erb :"partials/navbar" %>
<h1>Welcome to FitJournal, <%= @user.first_name %>!</h1>

<h3>New Post:</h3>

<div id="new_post" >
<form method="post" action="/posts">
<input type="text" name="content" placeholder="New Post....">
<label for="theme">Please Choose a top that your post covers:</label>
<select id="theme" name="theme"> 
    <option value="food">Food/Healthy Eating</option>
    <option value="fitness">Fitness</option>
    <option value="other">Social/Other</option>
  </select>
<input type="submit" id="submit">
</form>
</div>

<h3>Newsfeed:</h3>
<div class ="row">
    <div class="col s12 m12">
<% @posts.each do |post| %>
    <div class="card grey lighten-3">
        <div class="card-content black-text">
    <%# <% if post.theme == "food"%>
    <%# <% elsif post.theme == "fitness" %> 
    <%# <% else %>
    <%# <% end %>
    <span class="card-title"><a href="/users/<%= post.user_id%>" class="profile_link"><%= post.user.username %> </a></span>            
       <p> <%= post.updated_at.strftime('%b %d, %Y') || post.created_at.strftime('%b %d, %Y') %>
        <%= post.content %> </p>
        </div>
    <% if post.user_id == @user.id %>
    <div class="card-action">
        <a href='/posts/<%= post.id%>/edit' >Edit/Delete</a>
    </div>
    <% end %>
    </div>
<% end %>
</div>
</div>